@import "tailwindcss";

:root {
  --background: #F7F9F7;
  --foreground: #2E2E2E;
  --primary: #6B8F71;
  --primary-light: #A8C3A0;
  --primary-dark: #3F5D46;
  --secondary: #A78C9A;
  --secondary-light: #C9B3BE;
  --secondary-dark: #8E6F7D;
  --support: #EDE6DF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
